@using AntiFoodWasteBlazor.Client.Services
@using AntiFoodWasteBlazor.Shared.Models

@page "/"

<h1>Velkommen til Sallings AntiFoodWaste API platform.</h1>

<table class="table table-primary">
	<thead>
		<tr>
			<th>Produkt</th>
			<th>Billede</th>
			<th>Pris</th>
			<th>Original pris</th>
			<th>Count</th>
			<th>Units</th>
			<th>Butik</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var product in foodWasteProductList)
	{
	<tr>
		<td><b>@product.Description</b></td>
		<td><img src=@product.ImageUrl/></td>
		<td><b>@product.NewPrice kr.</b></td>
		<td>@product.OriginalPrice kr.</td>
		<td>@product.StockCount</td>
		<td>@product.StockUnit</td>
		<td>@product.store.Name</td>
	</tr>
	}
	</tbody</table>


<div>
	<label>Søg på postnummer:</label>
	<input @bind="_zipCode" placeholder="Postnummer" />
	<button @onclick="GetFoodWasteProducts">Søg</button>
</div>

@code{
	[Inject]
	private SallingFoodWasteService SallingFoodWasteService { get; set; }

	private string _zipCode;

	List<FoodWasteProduct> foodWasteProductList = new List<FoodWasteProduct>();


	private async Task GetFoodWasteProducts()
	{
		foodWasteProductList = await SallingFoodWasteService.GetFoodWasteProductsAsync(_zipCode);
	}
}
